@model IEnumerable<Address>

<div class="row">
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Address ID</th>
                    <th>Address</th>
                    <th>District</th>
                    <th>City ID</th>
                    <th>Postal Code</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
               @foreach(var address in Model)
               {
                    <tr>
                        <td>@address.address_id</td>
                        <td>@address.address</td>
                        <td>@address.district</td>
                        <td>@address.city_id</td>
                        <td>@address.postal_code</td>
                        <td>@address.phone</td>
                    </tr>
               }
            </tbody>
        </table>
    </div>
</div>